* {
  list-style: none;
}


body{
    font-family: "Poppins", sans-serif; /* UNIVERSAL FONT FOR ALL PAGES */
    margin: 50px 50px 0 50px;
    background-color: white;
  
  }

.main {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    
  }

.logobin {
    padding: 5%; /* MAKING SURE THE LOGO IS SHIFTED FOR PROPER PLACEMENT, 
    DOUBLE CHECK ITS THE SAME FOR ALL CSS PAGES */
  }
  

  
  .menu {
    font-size: 4rem; /*FONT SIZE FOR THE NAV FONT LINKS */
  }
  .nav-item {
    padding: 4%;
  }


#parent {
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  /* TITLE PAGE STYLE */

  .the-top{
    font-size: 5rem ;
    text-align: center;
    padding-top: 2%;
    color: midnightblue;
  }



/* 
  THIS IS ALL OF THE STYLING BELOW FOR THE ANIMATION ON SKILL BARS
  YOU EDIT THIS PORTION, YOU EDIT THEM ALL :X .....>>>>>>> */


#skill-h1{
  text-align: center;
}

.skillz{
  margin: 5px;
}

.skill{
  width: 500px;
  margin: 60px auto;
  color: midnightblue; 
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22);

}

.skill li{
  margin: 20px 0;
  padding: 10px;
}
.bar{
  background: #353B48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgb(151, 7 , 234)0%, rgb(85, 85, 249)100%);
}

/* END OF UNIVERSAL ANIMATION BAR STYLE, INDIVIDUAL BEGINS .....>>> */





/* WEB DEV BAR STYLES */
.html{
  width: 90%;
  animation: html 3s;
}
.css{
  width: 80%;
  animation: css 3s;
}

.js{
  width: 75%;
  animation: js 3s;
}

.boost{
  width: 80%;
  animation: boost 3s;
}
.react{
  width: 65%;
  animation: react 3s;
}



/* DATA ANALYSIS BARS */


.rbar{
  width: 60%;
  animation: rbar 3s;
}
.pybar{
  width: 65%;
  animation: pybar 3s;
}
.colabb{
  width: 70%;
  animation: colabb 3s;
}


/* INFO TECH STYLE BARS */

.hardware{
  width: 90%;
  animation: hardware 3s;
}
.software{
  width: 85%;
  animation: software 3s;
}
.network{
  width: 80%;
  animation: network 3s;
}

/* THIS IS THE KEYFRAMES SECTION FOR MOVEMENT 
ON EACH BAR DBL CHECK NAMES ON 
BOTH BELOW AND ABOVE, THEY NEED 
TO MATCH ALL THROUGHOUT
IF YOU RUN INTO PROBLEMS */


/* WEB DEV KEYFRAME */

@keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes css {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes js {
  0%{
    width: 0%;
  }
  100%{
    width: 75%;
  }
}

@keyframes boost {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes react {
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}

/* DATA ANALYSIS KEYFRAMES */

@keyframes rbar {
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes pybar {
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}
@keyframes colabb {
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

/* INFO TECH KEYFRAMES */

@keyframes hardware {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes software {
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}
@keyframes network {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}



/* THIS IS THE END OF ALL BARS ANIMATION  */ 






footer {
    text-align: right;
    padding-right: 10%;
  } can you do the same here too